    :root
    {
      --partscolor: #6272a5;
    }
    *
    {
      box-sizing:border-box;
    }
    body
    {
      background: linear-gradient(to left,#cfe7fa, #6272a5);
      
    }
    .cvcontent
    {
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      width: 70vw;
      margin: auto;
      background-color:white;
      overflow: auto;
    }
    main
    {
      display: flex;
      color: var(--partscolor);
    }
    nav
    {
      padding: 2rem 2rem;
      text-align: center;
      width: 20vw;
      background-color:var(--partscolor);
      color:white;
      overflow: auto;
    }
   
    #pic
    {
      border-radius: 20px;
    }
  
    section
    {
        width: 50vw;    
        padding: 2rem;
        flex-shrink: 1; 
    }
    footer
    {
        display: flex;
        overflow: auto;
    }
    .footerleft
    {
      width: 20vw;
      padding: 2rem 2rem;
      text-align: center;
      background-color:var(--partscolor);
    }
    .footerright
    {
      width: 50vw;
      padding: 2rem; 
      background-color: white;
      text-align: center;
    }
    #Me
    {
      text-transform: none;
      border-bottom: none;
      font-size: 300%;
    }
    nav > div> .names
  {
      text-align:center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 1px solid white;
  }
  nav > div > .parametres
  {
    color:white;
    font-size: 1.5rem;
    line-height: 170%;
  }
  #skills
  {
    text-align:left;
    
    color:white;
    font-size: 1.5rem;
    padding-left:2vw;
    line-height: 170%;
  }
  li
  {
    list-style:inside
  }
  
  #openimage
  {
    border-radius: 50px;
    width: 10vw;
  }
  main > section > div > div > .names
  {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--partscolor);
   
  }
  main > section > div > div > .parametres
  {
    font-size: 1.5rem;
    text-align: justify;
  }

  @media (orientation: portrait)
  {
    main
    {
      flex-direction: column;
    }
    .device
    {
      width: 100vw;
    }
    
    footer
    {
      flex-direction: column;
    }
    
  }